ul {
  list-style: none;
  margin: 0 auto;
  padding: 2px;
  text-align: start;
}

li {
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

p {
  text-align: center;
  padding: 15px;
}

h1 {
  font-size: 40;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
}

.weather-app {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-style: solid;
  border-radius: 5%;
  border-color: rgb(243, 25, 25);
  background-color: #b1a8a8;
  max-height: fit-content;
}

body {
  padding: 20px;
  background-image: url(../background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.temperature {
  font-size: 40px;
}

.units {
  position: relative;
  left: -5px;
  bottom: 20px;
}

.weather-description {
  text-align: center;
}

.date {
  text-align: center;
}
